.left_logo_navigation_inline .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_logo_navigation_inline .header-sidebar {
  margin-right: 70px;
}

.menu-toggle {
  top: 15px;
}

.main-navigation ul.menu > li a {
  padding: 1rem 0.5rem;
}

ul.sub-menu li a {
  padding: 0 0.5rem;
}

@media only screen and (min-width: 600px) {
  .logged-in .left_logo_navigation_inline .menu-toggle {
    top: 55px;
  }

  .left_logo_navigation_inline .header-sidebar {
    margin-right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .left_logo_navigation_inline .menu-toggle {
    top: auto;
  }

  .site-header .main-navigation {
    text-align: center;
  }
}


/* SHOP */
.select2-container .select2-selection--single {
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 46px;
  top: 12px;
}
