.single-product div.product .summary.entry-summary .woocommerce-product-details__short-description {
  p {
    font-size: 1rem;
  }
}

.single-product .woocommerce-tabs ul.tabs li a {
  font-size: 1.2rem;
}

.single-product div.product .summary.entry-summary button[type=submit] {
  font-size: 1rem;
}

.entry-content p:not([class^=has]) {
  font-size: 1rem;
}

h2.widget-title {
  font-size: 1.2rem;
}

.widget.widget_text p {
  font-size: 0.9rem;
}

.widget_nav_menu ul li {
  font-size: 0.9rem;
}
