/* line 1, sass/header.scss */
.left_logo_navigation_inline .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 7, sass/header.scss */
.left_logo_navigation_inline .header-sidebar {
  margin-right: 70px; }

/* line 11, sass/header.scss */
.menu-toggle {
  top: 15px; }

/* line 15, sass/header.scss */
.main-navigation ul.menu > li a {
  padding: 1rem 0.5rem; }

/* line 19, sass/header.scss */
ul.sub-menu li a {
  padding: 0 0.5rem; }

@media only screen and (min-width: 600px) {
  /* line 24, sass/header.scss */
  .logged-in .left_logo_navigation_inline .menu-toggle {
    top: 55px; }

  /* line 28, sass/header.scss */
  .left_logo_navigation_inline .header-sidebar {
    margin-right: 0; } }
@media only screen and (min-width: 992px) {
  /* line 34, sass/header.scss */
  .left_logo_navigation_inline .menu-toggle {
    top: auto; }

  /* line 38, sass/header.scss */
  .site-header .main-navigation {
    text-align: center; } }
/* SHOP */
/* line 45, sass/header.scss */
.select2-container .select2-selection--single {
  height: auto; }

/* line 49, sass/header.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 46px;
  top: 12px; }
