/*
Theme Name:		 YITH Proteo Child
Theme URI:		 https://proteo.yithemes.com/
Description:	 yith-proteo-child is a child theme of YITH Proteo
Author:			 YITH
Author URI:		 https://yithemes.com/
Template:		 yith-proteo
Version:		 1.0.0
Text Domain:	 yith-proteo-child
*/
/*
    Add your custom styles here
*/
/* line 2, sass/typography.scss */
.single-product div.product .summary.entry-summary .woocommerce-product-details__short-description p {
  font-size: 1rem; }

/* line 7, sass/typography.scss */
.single-product .woocommerce-tabs ul.tabs li a {
  font-size: 1.2rem; }

/* line 11, sass/typography.scss */
.single-product div.product .summary.entry-summary button[type=submit] {
  font-size: 1rem; }

/* line 15, sass/typography.scss */
.entry-content p:not([class^=has]) {
  font-size: 1rem; }

/* line 19, sass/typography.scss */
h2.widget-title {
  font-size: 1.2rem; }

/* line 23, sass/typography.scss */
.widget.widget_text p {
  font-size: 0.9rem; }

/* line 27, sass/typography.scss */
.widget_nav_menu ul li {
  font-size: 0.9rem; }

/* line 1, sass/header.scss */
.left_logo_navigation_inline .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 7, sass/header.scss */
.left_logo_navigation_inline .header-sidebar {
  margin-right: 70px; }

/* line 11, sass/header.scss */
.menu-toggle {
  top: 15px; }

/* line 15, sass/header.scss */
.main-navigation ul.menu > li a {
  padding: 1rem 0.5rem; }

/* line 19, sass/header.scss */
ul.sub-menu li a {
  padding: 0 0.5rem; }

@media only screen and (min-width: 600px) {
  /* line 24, sass/header.scss */
  .logged-in .left_logo_navigation_inline .menu-toggle {
    top: 55px; }

  /* line 28, sass/header.scss */
  .left_logo_navigation_inline .header-sidebar {
    margin-right: 0; } }
@media only screen and (min-width: 992px) {
  /* line 34, sass/header.scss */
  .left_logo_navigation_inline .menu-toggle {
    top: auto; }

  /* line 38, sass/header.scss */
  .site-header .main-navigation {
    text-align: center; } }
/* SHOP */
/* line 45, sass/header.scss */
.select2-container .select2-selection--single {
  height: auto; }

/* line 49, sass/header.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 46px;
  top: 12px; }
