/* line 2, sass/typography.scss */
.single-product div.product .summary.entry-summary .woocommerce-product-details__short-description p {
  font-size: 1rem; }

/* line 7, sass/typography.scss */
.single-product .woocommerce-tabs ul.tabs li a {
  font-size: 1.2rem; }

/* line 11, sass/typography.scss */
.single-product div.product .summary.entry-summary button[type=submit] {
  font-size: 1rem; }

/* line 15, sass/typography.scss */
.entry-content p:not([class^=has]) {
  font-size: 1rem; }

/* line 19, sass/typography.scss */
h2.widget-title {
  font-size: 1.2rem; }

/* line 23, sass/typography.scss */
.widget.widget_text p {
  font-size: 0.9rem; }

/* line 27, sass/typography.scss */
.widget_nav_menu ul li {
  font-size: 0.9rem; }
